@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

.container{

width: 97.35%;
margin:  0;

}
.container-1{
width: 100%;
}

img{
  max-width: 100%;
  height: auto;
}

/*typography*/

h1{
font-weight: 600;
font-size:  2rem;
}

.title{
font-size:2.5rem;
margin-bottom:2em;
}

.title span{
font-weight: 300;
display: block;
font-size: .9em;

}

@media (min-width: 60rem ){
  .title{
    font-size: 4rem;
  }


}

/*buttons*/

.button{
  display: inline-block;
  text-decoration: none;
  font-size: 1.9rem;
  text-transform: uppercase;
  border-width: 3px;
  border-style: solid;
  padding: .5em 1em;
  
}

@media (max-width: 60rem){

.button{
  font-size:1.5rem;
}
}

.button-small{
  font-size: .7rem;
  font-weight: 700;

}
.button-accent{
  color:#CCC6AC;
  border-color:#CCC6AC;
}

.button-accent:hover,
.button-accent:focus{


background:#ddd;  
color: #000;

}

.logo{
  width: 100px;;
  height: 100px;
  
  
}
h1{
  text-align: center;
    color:#CCC6AC;
   
}

/*.port-item{ 
  display: grid;
  grid-template-columns: 2fr 1fr;  Two columns: 1/3 image, 2/3 text 
  gap: 20px;                     Space between grid items 
  padding: 20px;
 
}

.port-item img{
  max-width: 100%; /* Prevents images from stretching wider than their container 
  height: auto;  Maintains aspect ratio

}*/

body{
  margin:0;
  font-family: 'Work Sans', sans-serif;
  text-align:  center;
}

header{

  position:  fixed;
  left:0;
  right:0;
  margin-top:0;
  z-index: 9999;
  background-color: rgba(27, 26, 26, 0.75); /* 50% transparent gray */


}

nav ul{
  margin:0;
  padding: 0;
  list-style: none;

}

nav li{
  display: inline-block;
  margin: 1em;
}

nav a {
font-weight: 900;
text-decoration: none;
text-transform: uppercase;
font-size: .9rem;
padding: .5em;
background-color: rgb(143, 177, 115);

}


nav a:hover, 
nav a:focus {
  color: #ddd;
}

@media (min-width:60rem){

.logo{
  float:left;
  padding-left: 10px ;
}
nav{
  float: right;
  
}
}

/*home-hero  */


.home-hero{
  background-image: url(../portfolioFolder/img/backgroundimage3.jpeg) ;
  background-position: center;
  background-size: cover;
  padding: 10em 0;
  margin-left: 0;
  margin-right: 0;
}

.home-about{
  padding-bottom: 3em;
}

.home-about-textbox{
  background-color:#232323;
  padding:3em;
  width:fit-content;
  margin-left: -2.7%;
  margin-right: -2.7%;

  outline: 2px solid #CCC6AC;
  outline-offset: -2.5em;
  color: #FFF;
  position: relative;
  overflow: hidden;
  

}

.home-about-textbox h1{
 margin-top: 100px;
 margin-bottom: 0%;


}

.home-about-image {
  display: flex; /* Allows alignment within the container */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
 /* border: 2px solid #ccc;*/ 
  overflow: hidden;
  height: 110px; /* Fixed height for image container */
}

.home-about-image img {
  float: left;
  position: absolute; /* Position the image within the textbox */
  top: 50px; /* Distance from the top edge of the textbox */
  left: 50px; /* Distance from the left edge of the textbox */
  width: 200px; /* Fixed width for the image */
  height: 200px; /* Fixed height for the image */
  object-fit: cover; /* Maintain aspect ratio */
  /*border: 2px solid #ccc; /* Optional: border around the image */
}

@media screen and (max-width: 768px) {
  .home-about-image img {
      display: none; /* Hide the image on mobile */
  }
}

@media (max-width: 60rem){
   .home-about-textbox h1{
      background-image: url('img/profile_pic_dark.jpeg'); /* New background image for h1 */
      background-size: cover; /* Ensure the background image covers the entire h1 */
      background-position: center;
      font-size: 2.5rem;
    }
}

/*portfolio css**/

.portfolio{
  
  margin: 0, 0;

}

.port-item{

  position: relative;
  place-items: center;
  width:100%;
  height:100%;
  overflow: hidden;

}
.port-item-vertical{

  position: relative;
  place-items: center;
  width:50%;
  height:50%;
  overflow:hidden;

  }

.port-item img{

  display: block;

}


.port-description{
  position: absolute;
  z-index:100;
  bottom:5rem;
  left:3em;
  right:3em;
  color: white;
  background: rgba(0, 0, 0, .65);
  padding: 1em;
  transform: translateY(200%);


}

.port-description p{

margin: 1em;

}

.port-item:hover .port-description{
  transform: translateY(0%);
}
.port-item-vertical:hover .port-description{
  transform: translateY(0%);
}


@media(min-width: 37rem) {
  .port-item {
    width:30%;
    height:30%;
    float: left;
  }

  .port-item-vertical{
    width:25%;
    height: 25%;
    float: right;
  }

}

@media(min-width: 60rem) {
  .port-item {
    width:33.33334%;
  
}

}
